html {
    height: 100%;
}
body {
    min-height: 100vh;
    background: rgb(187,225,250);
    background: linear-gradient(45deg, rgba(187,225,250,1) 25%, rgba(27,38,44,1) 25%, rgba(50,130,184,1) 25.5%, rgba(23,143,186,1) 100%, rgba(15,76,117,1) 100%);
}

.boxShadow {
    border: 1px solid red;
}
